<section data-ng-controller="UserController">
		<!-- <h1 class="headline">{{'profileSettings' | i18next}}</h1> -->
		<h1 class="headline"> Vēstules </h1>
		<div id="message-container">
			<div id="message-list">
				<div class="message-list-item">
					<div class="message-list-item-image">
						<img src="/img/blank_avatar.png">
					</div>
					<div class="message-list-item-partner">
						<h5> Lietotājs 1</h5>
						<i>"Sveiks..."</i>
					</div>
				</div>
				<div class="message-list-item selected">
					<div class="message-list-item-image">
						<img src="/img/blank_avatar.png">
					</div>
					<div class="message-list-item-partner">
						<h5> Lietotājs 2</h5>
						<i>"Sveiks..."</i>
					</div>
				</div>
				<div class="message-list-item">
					<div class="message-list-item-image">
						<img src="/img/blank_avatar.png">
					</div>
					<div class="message-list-item-partner">
						<h5> Lietotājs 2</h5>
						<i>"Sveiks..."</i>
					</div>
				</div>
			</div>

			<div id="messages-active">				
				<div id="messages-active-content">
					<div class="message-received">
						<div class="message-bubble">
							<img src="/img/blank_avatar.png">
							<p> Sveiks! </p>
						</div>
					</div>
					<div class="message-sent">
						<div class="message-bubble">
							<p> Sveiks... </p>
							<img src="/img/blank_avatar.png">
						</div>
					</div>
				</div>
				<div id="messages-active-textbox">
					<textarea></textarea>
					<button class="btn message-send">Sūtīt</button>
				</div>
			</div>
		</div>
</section>