<section data-ng-controller="UserController">
	<div class="auth">
		<form class="signup form-horizontal" method="POST" name="resetpassword" ng-submit="changePassword(params)">
			<div class="error" id="invalidresetcode">{{'user.invalidresetcode' | i18next}}</div>
			<div class="error" id="reseterror">{{'user.resetError' | i18next}}</div>			
			<div class="control-group">
				<label class="control-label">{{'user.email' | i18next}}</label>
				<span class="controls">
					<input type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" name="email" id="email" ng-model="params.email" placeholder="{{'user.email' | i18next}}" required>
					<span class="form-error" ng-show="resetpassword.email.$error.required && resetpassword.email.$dirty">{{'user.emailRequired' | i18next}}</span>
					<span class="form-error" ng-show="!resetpassword.email.$error.required && (resetpassword.email.$error.email || resetpassword.email.$error.pattern) && resetpassword.email.$dirty">{{'user.invalidEmail' | i18next}}</span>
				</span>
			</div>
			<div class="control-group">
				<label class="control-label">{{'user.resetCode' | i18next}}</label>
				<span class="controls">
					<input type="text" name="resetcode" id="resetcode" ng-model="params.resetcode" placeholder="{{'user.resetCode' | i18next}}" required>
					<span class="form-error" ng-show="resetpassword.resetcode.$error.required && resetpassword.resetcode.$dirty">{{'user.codeRequired' | i18next}}</span>
				</span>
			</div>
			<div class="control-group">
				<label class="control-label">{{'user.password' | i18next}}</label>
				<span class="controls">
					<input type="password" ng-minlength="6" name="password" id="password" ng-model="params.password" placeholder="{{'user.password' | i18next}}" required>
					<span class="form-error" ng-show="resetpassword.password.$error.required && resetpassword.password.$dirty">{{'user.passwordRequired' | i18next}}</span>
					<span class="form-error" ng-show="!resetpassword.password.$error.required && resetpassword.password.$error.minlength && resetpassword.password.$dirty">{{'user.passwordLength' | i18next}}</span>
				</span>
			</div>
			<div class="control-group">
				<label class="control-label">{{'user.passwordre' | i18next}}</label>
				<span class="controls">
					<input type="password" compare-to="resetpassword.password" name="passwordRepeat" id="passwordRepeat" ng-model="params.passwordRepeat" placeholder="{{'user.password' | i18next}}" required>
					<span class="form-error" ng-show="resetpassword.passwordRepeat.$error.required && resetpassword.passwordRepeat.$dirty">{{'user.passwordConfirm' | i18next}}</span>
					<span class="form-error" ng-show="!resetpassword.passwordRepeat.$error.required && resetpassword.passwordRepeat.$error.compareTo && resetpassword.password.$dirty">{{'user.passwordsNoMatch' | i18next}}</span>
				</span>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" ng-disabled="!resetpassword.$valid" type="submit">{{'user.changePassword' | i18next}}</button>
			</div>
		</form>
	</div>
</section>