<section data-ng-controller="ProfileViewController">
		<div class="profile-header">
			<h2>{{"user.profile" | i18next}}</h2>
			<span id="profile-avatar">
				<img class="profile-avatar" src="/img/users/blank_avatar.png">  			
			</span>
			<span id="profile-userdata">
				<h4 id="profile-userdata-name">{{"user.name" | i18next}}</h4>
				<p id="profile-userdata-country">{{"user.location" | i18next}}</p>
				<p id="profile-userdata-zip">{{"user.zipCode" | i18next}}</p>
				<p id="profile-userdata-phone">{{"user.phone" | i18next}}</p>				
			</span>
			<span id="profile-bio">
				<p>{{"user.biography" | i18next}}</p>
			</span>
			<span id="profile-webdata">				
			</span>
		</div>
		<!-- TODO: Profila aktivitāte -->
<!-- 	<div class="profile-header">
			<h2> Profile aktivitāte </h2>
			<div class="profile-activity-item">
				<p> Šeit parādās informācija par lietotāja veiktajām darbībām. Piemērs - reģistrācija, ziedošana projektam, projekta izveide... </p>				
			</div>
		</div> -->
</section>