<section data-ng-controller="PaymentController">
	<div id="project-view-header" class="project-view-header-border">
		<div id="payment-project">
			<div id="payment-project-img">
				<img src="/img/projects/nuke.png">
			</div>			
			<div id="payment-project-title">
				<h1> Pēdējais projekts </h1>
			</div>			
		</div>
	</div>
	<h2 id="payment-title"> Maksājums veikts veiksmīgi </h2>
	<h4> Ziņojums no autora: </h4>
	<p> Paldies, ka palīdzējāt mums padarīt šo pasauli par labāku vietu kur dzīvot! </p>
	<br>
	
	<div style="text-align: center; width: 100%;">
		<a href="#"> Atpakaļ uz sākumlapu </a>
	</div>
</section>