<section data-ng-controller="DiscoverController">
	<div id="project-view-header" class="project-view-header-border">
		<div class="discover-project">
			<div class="discover-project-img">
				<img src="/img/projects/nuke.png">
			</div>
		<div class="discover-project-description">
			<div class="discover-project-title">
				<h1> Pēdējais projekts </h1>
				</div>
				<div class="discover-project-about">
					<p> Projekts kurš izbeigs citus projektus </p>
					<p>Ziedojumu vākšana beigsies 01.01.2017</p>					
				</div>				
			</div>
		</div>
	</div>
	<br>
	<div id="project-view-reward">
		<h3 style="text-align: center;"> Nosaukums </h3>
		<img src="/img/projects/drone.jpg">
		<p style="padding-top: 20px;"> Apraksts </p>
	</div>
	<a href="#" style="text-align: center;">Apakaļ</a>
</section>