<section data-ng-controller="DiscoverController">
	<div id="project-view-header" class="project-view-header-border">
		<div class="discover-project">
			<div class="discover-project-img">
				<img src="/img/projects/nuke.png">
			</div>
		<div class="discover-project-description">
			<div class="discover-project-title">
				<h1> Pēdējais projekts </h1>
				</div>
				<div class="discover-project-about">
					<p> Projekts kurš izbeigs citus projektus </p>
					<p>Ziedojumu vākšana beigsies 01.01.2017</p>					
				</div>				
			</div>
		</div>
	</div>
	<br>
	<div id="project-rewards">
		<h3> Atalgojumi </h3>
		<div class="project-reward">
			<h4> Nosaukums </h4>
			<p> Apraksts </p>
		</div>
		<div class="project-reward">
			<h4> Nosaukums </h4>
			<p> Apraksts </p>
		</div>
		<div class="project-reward">
			<h4> Nosaukums </h4>
			<p> Apraksts </p>
		</div>
		<div class="project-reward">
			<h4> Nosaukums </h4>
			<p> Apraksts </p>
		</div>
	</div>
</section>